---
layout: default
---

{% assign lang = page.lang | default: site.lang | default: "zh" %}
{% assign t = site.data.i18n.languages[lang] %}

<article class="posts">
  <h1>{{ page.title }}</h1>

  <div class="meta">
    <span class="author">
      {{ page.author }}
    </span>

    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    <span id="busuanzi_container_page_pv" style="display:none; margin-left: 10px;">
      {{ t.views }}：<span id="busuanzi_value_page_pv"></span> {{ t.times }}
    </span>

    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
  {% include utteranc.html %}
  {% include gitalk.html %}
</article>

<div class="pagination">
  {% if page.previous.url %}
    <span class="prev" >
      <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
        ← {{ t.prev }}
      </a>
    </span>
  {% endif %}
  {% if page.next.url %}
    <span class="next" >
      <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
        {{ t.next }} →
      </a>
    </span>
  {% endif %}
</div>
